{% extends 'main/header.html' %}

{% block content %}
<h2 style="text-align: center; margin-bottom:50px;">Choose the resume for the recommendation</h2>
<div class="col" style="margin-bottom: 100px;">
    <div style="text-align: center;">
        <a class="button btn-secondary " style="padding:5px" href="/upload">Upload Resume</a>
    </div>
    <div class="m-0 p-0">
        <h1> OR </h1>
    </div>
    <div style="text-align: center;" > 
        <a class="button btn-secondary " style="padding:5px" href="/resumes">Choose Existing Resume</a>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}